<h3>Child compnent works!</h3>

<h1> UserName - {{Uname}} </h1>

<button (click)="sendMessage()">Send Message to parent </button>

<!--<h4>Implementation of Property Binding : Interpolation</h4>

<hr>


<h5>Name : {{name.toUpperCase()}}</h5>
<h5>Status : {{status}}</h5>
<h5>Salary : {{salary}}</h5>

<hr>

<h4>Implementation of Property Binding : Property Binding</h4>
<button [disabled]="isbuttondisabled" (click)="alarm()">Submit</button>

<hr>


<h4>Implementation of Property Binding : Event Binding and two way binding </h4>

<input type="text" [value]="inputvalue" (input)="greet($event)"> 
<input type="text" [(ngModel)]="inputvalue">
<p>You entered : {{inputvalue}}</p>

<hr>

<h4>Implementation of Property Binding : Structural Directives</h4>

<hr>

<div>
    @for( u of users; track u.id){

    @if(u.age < 50){ <p>{{u.name}}</p>
        <p>{{u.age}}</p>
        }
        @else{
        <p>{{u.name}}</p>
        <p>{{u.age}}</p>
        }

        }

</div>

<div *ngIf="users.length > 0">
    <p>Total users : {{users.length}}</p>
</div>

<div *ngIf="users.length == 0">
    <p>No users found</p>
</div>

<hr>-->